body {
  background-color: #343a40;
  color: #ffffff;
  background-image: url('background.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}
.container {
  background-color: rgba(0, 0, 0, 0.5); /* Warna latar belakang container dengan transparansi */
  padding: 20px;
  border-radius: 10px;
  margin-top: 50px;
}
.card {
  background-color: #2c3037;
  color: #ffffff; 
}
.download-buttons {
  margin-top: 10px; 
}
.download-buttons button {
  margin-right: 10px; 
}
.loading-spinner {
  display: none; 
}